/*
DO CMS - Markdown style
by Thanh Nguyen
*/

.docms-content table {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.docms-content th {
    vertical-align: middle !important;
}

.docms-content th[align]:where(
    [align*="center"]
) {
    text-align: center !important;
}

.img-fit img:not([class]),
.img-fit img[class]:not(:where(
    [class*="docms-reset"],
    [class*="do-reset"]
)) {
    max-width: 95%;
}

.img-center img:not([class]),
.img-center img[class]:not(:where(
    [class*="docms-reset"],
    [class*="do-reset"]
)) {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ref https://stackoverflow.com/questions/5379752/css-style-external-links */
a.external-link[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"])
  /*!* domains to exclude *!*/
  /*[href*="//stackoverflow.com"],*/
  /*!* subdomains to exclude *!*/
  /*[href*="//meta.stackoverflow.com"],*/
)):after {
    /*content: '↗️';*/
    content: " " url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
    /*font-family: FontAwesome;*/
    /*content: "\f08e";*/
    /*font-size: 13px;*/
    /*color: #ccc;*/
    /*padding-left: 7px;*/
}

code {
    /*background: #222;*/
    /*color: #fff;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding-left: 2px;
    padding-right: 2px;
    /*padding: 2px 8px;*/
    /*padding-top: 4px;*/
    /*display: inline-block;*/
}

.alert code {
    background: transparent !important;
}

/* ref: https://codepen.io/maxds/pen/nzmMyO */
blockquote.blockquote {
    font-size: 1rem !important;
    /*display:block;*/
    /*background: #fff;*/
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    /*font-family: Georgia, serif;*/
    /*font-size: 16px;*/
    line-height: 1.2;
    /*color: #666;*/
    /*text-align: justify;*/

    /*!*Borders - (Optional)*!*/
    border-left: 4px solid;
    /*border-right: 2px solid;*/

    /*!*Box Shadow - (Optional)*!*/
    /*-moz-box-shadow: 1px 1px 8px;*/
    /*-webkit-box-shadow: 1px 1px 8px;*/
    /*box-shadow: 1px 1px 8px;*/
}

blockquote.blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*!*Font*!*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    /*color: #999;*/

    /*Positioning*/
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote.blockquote::after {
    /*Reset to make sure*/
    content: "";
}

/*blockquote a {*/
/*    text-decoration: none;*/
/*    background: #eee;*/
/*    cursor: pointer;*/
/*    padding: 0 3px;*/
/*    color: #c76c0c;*/
/*}*/

/*blockquote a:hover {*/
/*    color: #666;*/
/*}*/

/*blockquote em {*/
/*    font-style: italic;*/
/*}*/
